.banner{
    width: 100%;
    background: white;    
    text-align: center;

    -webkit-box-shadow: 0px 5px 1px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 5px 1px rgba(0,0,0,0.5);
     box-shadow: 0px 5px 1px rgba(0,0,0,0.5);
}

.banner img{
    padding: 20px;
    margin: 0px auto;
    max-width: 250px;
}

h2 {
   width: 250px;
   margin: 0 auto;
   text-shadow:0 -1px 1px rgba(255,255,255,0.8);
}
input{

    margin-bottom: 5px;
    padding: 5px;
    
}

ul {
    list-style: none; 

}

.inline{
    display: inline;
}

.panel{
    background-color: rgba(255,255,255,0.9);
    margin: 10px;
    padding: 10px 0px 20px 0px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 5px 2px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 5px 2px rgba(0,0,0,0.5);
     box-shadow: 0px 5px 2px rgba(0,0,0,0.5);
     text-shadow:0 -1px 1px rgba(255,255,255,0.8);
   
}
body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#E4E4E4;
    background-image:linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-ms-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #A7A7A7),
        color-stop(0.51, #E4E4E4)
    );
    background:url('../img/interior.jpg') center center no-repeat;
    background-size:100% 100%;
    
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size: 1.2em;
    height:100%;
    margin-top:0px;
    padding:0px;

    width:100%;
}

/* Portrait layout (default) */
.app {

}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}

#discount-type{
    margin: 5px;
}

#deal-slider{
    width: 22%;
}


